body{
	background-color: lightgray;
}
#navBar {
	background-color: darkturquoise;
	padding-bottom: 3em;
	padding-top: 2em;
}

.carousel {
	margin-top: 3rem;
}

.navBarContainer {
	background-color: darkturquoise;
}

#aboutUsContainer {
	background-color: paleturquoise;
}

#areasWeServeContainer {
	background-color: mediumturquoise;
}

#servicesOfferedContainer {
	background-color: darkturquoise;
}

#contactUs {
	background-color: steelblue;
}

#footerSection {
	background-color: darkturquoise;
}
